detoxify
fire
fsspec
numpy
pandas
Pillow
pyarrow
pysimdjson
pytest
PyYAML
torch
torchvision
tqdm
wandb
webdataset
clip @ git+https://github.com/openai/CLIP.git#egg=clip
isc_feature_extractor @ git+https://github.com/sagadre/ISC21-Descriptor-Track-1st#egg=isc_feature_extractor
